extends ../achewatr

block head
  link(rel="stylesheet", href="/blogstyles/washed-denim.css")

block content
  header#header
    h1.title= blogName
    p.description
  #content
    #main
      h2.date-header= active.published.format('dddd, MMMM DD, YYYY')
      article.post
        if active.title
          h3.post-title= active.title
        .post-body!= active.content
        p.post-footer Posted by #{active.author || 'me'} at <a href="#{originalUrl}">#{active.published.format('h:mm A')}</a>
    #sidebar
      img(src="http://www.achewood.com/rsrc/img/charley_blog.gif")
      h2.sidebar-title Bout Mah'sleff
      p <b>NAME:</b> Cold Ball aka Charley Smuckles THA LEWWD
      p <b>HOOD:</b> Achewood Heightzz yo hella wealthy
      p <b>WE ALL FOOLZ?</b> Hellz yes you all foolz
  footer#footer
