extends ../achewatr

block head
  link(rel="stylesheet", href="/blogstyles/son-of-moto.css")

block content
  #wrapper
    header#blog-header
      //- Note that, by omitting the hyperlink, we're making the title white,
      //- as opposed to the dark-green-and-same-color-as-the-background-on-hover
      //- it is when linked. I think this is a pretty good thing.
      h1= blogName
      p
    #content
      #main
        h2.date-header= active.published.format('dddd, MMMM DD, YYYY')
        article.post
          if active.title
            h3.post-title= active.title
          .post-body: p!= active.content
          p.post-footer: em posted by #{active.author || 'me'} @ <a href="#{originalUrl}">#{active.published.format('h:mm A')}</a>
      #sidebar
        h2.sidebar-title About Me
        | <b>NAME?</b> Chris Onstad<br>
        | <b>WHAT IS YOUR PROBLEM?</b> <a href="http://www.achewood.com">This</a> is my problem.
        p
    footer#footer: p &nbsp;
