extends ../achewatr

block head
  link(rel="stylesheet", href="/blogstyles/scribe.css")

block content
  // Outer Dark Brown Container / Centers Content
  #wrap
    // Top Paper Graphic
    #main-top
    // Main Content Area (This shows background image)
    #main-content
      header#blog-header
        h1= blogName
        p
      .clearer
      #sidebar
        img(src="http://www.achewood.com/rsrc/img/cornelius_one_thm.jpg")
      #main
        h2.date-header= active.published.format('dddd, MMMM DD, YYYY')
        article.post
          if active.title
            h3.post-title= active.title
          .post-body: p!= active.content
          p.post-footer posted by #{active.author || 'me'} | <a href="#{originalUrl}">#{active.published.format('h:mm A')}</a>
      footer#footer: p &nbsp;
    // Bottom Paper Graphic
    #main-bot
