extends ../achewatr

block head
  link(rel="stylesheet", href="/blogstyles/minima-ochre.css")

block content
  header#header
    h1#blog-title= blogName
    p#description
  #content
    #main
      h2.date-header= active.blogDate.toString('dddd, MMMM dd, yyyy')
      article.post
        h3.post-title= active.title
        .post-body!= active.content
        p.post-footer posted by #{active.author || 'me'} at <a href="#{originalUrl}">#{active.blogDate.toString('h:mm TT')}</a>
    #sidebar
  footer#footer: p &nbsp;
