extends ../achewatr

block head
  link(rel="stylesheet", href="/blogstyles/tictac.css")

block content
  #wrap
    header#blog-header
      h1= blogName
    #content
      #main-content
        h2.date-header= active.published.format('dddd, MMMM DD, YYYY')
        article.post
          if active.title
            h3.post-title= active.title
          .post-body: p!= active.content
          p.post-footer posted by #{active.author || 'me'} at <a href="#{originalUrl}">#{active.published.format('h:mm A')}</a>
    #sidebar
      h2.sidebar-title About
      p
      img(src="http://www.achewood.com/rsrc/img/molly_blog.gif")
      br
      | <b>Molly Sanders</b>, aka Miss Lady.<br>
      | Blogging at you live from Achewood, CA! Roast Beef is my game, and living with him is lame.
    .clear
    footer#footer: p &nbsp;
