extends ../achewatr

block head
  link(rel="stylesheet", href="/blogstyles/snapshot-madder.css")

block content
  #outer-wrapper
    header#header
      h1.title= blogName
      .descriptionwrapper: p.description
    #content-wrapper
      #main
        //- This sums up a lot of enclosing <div>s-
        //- this level separates the blog content from the pager
        //- (which we're not including now, but maybe in the future).
        .blog-posts
          h2.date-header= active.blogDate.toString('dddd, MMMM dd, yyyy')
          article.post
            h3.post-title= active.title
            .post-body!= active.content
            p.post-footer Posted by #{active.author || 'me'} at <a href="#{originalUrl}">#{active.blogDate.toString('h:mm TT')}</a>
      #sidebar
        .widget
          h2 Téodor Orezscu
          div
            img(alt="Téodor Orezscu",src="http://www.achewood.com/rsrc/img/teodor_blog.gif")
            br
        .widget
          h2 About Me
          p
            // The nested <b> tags are like this in the source.
            | <b>NAME: Téodor Orezscu<br/>
            | <b>LOCATION:</b> Achewood, CA, USA<br/>
            | <b>HERE FOR:</b> I was actually trying to type in "globber.com," but ended up here and have been blogging since '04.</b>
    footer#footer
