extends ../achewatr

block head
  link(rel="stylesheet", href="/blogstyles/sand-dollar.css")

block content
  header#header
    h1= blogName
    p#description
  // Main Column
  #mainClm
    // Blog Posts
    h3= active.published.format('dddd, MMMM DD, YYYY')
    a &nbsp;
    if active.title
      h2= active.title
    != active.content
    br
    .byline <a href="#{originalUrl}">#</a> posted by #{active.author || 'me'} @ #{active.published.format('h:mm A')}
  #sideBar
    #profile-container
      h2.sidebar-title Contributors
      ul.profile-datablock
        li.profile-link: a me
        li.profile-link: a Peter H. Cropes
    h6 Links
    ul
      li: a(href="http://news.google.com") Google News
      li: a(href="http://EDITME!") Edit-Me
      li: a(href="http://EDITME!") Edit-Me