extends ../achewatr

block head
  link(rel="stylesheet", href="/blogstyles/rounders-3.css")

block content
  header
    h1#blog-title= blogName
    p#description
  #content
    #main
      h2.date-header= active.published.toString('dddd, MMMM dd, yyyy')
      article.post
        h3.post-title= active.title
        .post-body!= active.content
      p.post-footer posted by #{active.author || 'me'} at <a href="#{originalUrl}">#{active.published.toString('h:mm tt')}</a>
    #sidebar
      img(src="http://www.achewood.com/rsrc/img/ray_blog.gif")
      h2.sidebar-title About Me
      | NAME: R a y &nbsp; S m u c k l e s, the Main Chochacho of this Whole Place
      | <br>
      | LIVES: Achewood Heights, CA
      | <br>
      | LIKES: A little T, but not so much A. Not lately, anyway.
  footer#footer
    div &nbsp;


