extends achewatr

block head
  meta(name="description", content=active.title)
  link(rel="stylesheet", href="/achewood.css")

mixin comic
  if active.alt
    img(src="http://achewood.com/comic.php?date="+active.mdydate, title=active.alt, alt="Comic for "+active.published.toString("MMM dd, yyyy"))
  else
    img(src="http://achewood.com/comic.php?date="+active.mdydate, alt="Comic for "+active.published.toString("MMM dd, yyyy"))

block content
  if active.header
    #comic_header!= active.header
  #comic_body
    if active.href
      a(href=active.href)
        +comic
    else
      +comic
  #comic_footer
    if active.alt
      if active.href
        a(href=active.href).visible-alt-text= active.alt
      else
        span.visible-alt-text= active.alt
