!!!
html
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/static/achewatr.css")
    block head
  body
    nav
      a#achewatr-prev
        .date= prev.date
        .source= prev.source
        .title= prev.title
      #achewatr-heading
        .date= active.date
        .source= active.source
        .title= active.title
      a#achewatr-next
        .date= next.date
        .source= next.source
        .title= next.title
    #achewatr-content
      block content
    footer
      All content Copyright 2001-#{new Date().getYear()} Chris Onstad. <a href="http://www.achewood.com/honorclub.php">Buy his stuff!</a>
