!!!
html
  head
    meta(charset="utf-8")
    title= pageTitle + ' / achewatr'
    link(rel="stylesheet", href="/achewatr.css")
    block head
  body
    nav#achewatr-nav
      if prev
        a#achewatr-prev(href=prev.url)
          img.source(src='/images/72x16/'+prev.banner+'.png', alt=prev.source)
          time.date= prev.date
          .title= prev.title
      #achewatr-heading
        time.date= active.date
        .source= active.source
        .title= active.title
      if next
        a#achewatr-next(href=next.url)
          time.date= next.date
          img.source(src='/images/72x16/'+next.banner+'.png', alt=next.source)
          .title= next.title
      else
        #achewater-next fin.
    #achewatr-content.cf
      block content
    footer#achewatr-footer.
      All content Copyright 2001-#{new Date().getFullYear()} Chris Onstad.
      achewatr is a fan project by <a href="https://github.com/stuartpb/achewatr">Stuart P. Bentley</a>.
